@font-face { font-family: Merchant Copy; src: url('Merchant Copy.ttf'); }
@font-face { font-family: Merchant Copy Doublesize; src: url('Merchant Copy Doublesize.ttf'); }
@font-face { font-family: Merchant Copy Wide; src: url('Merchant Copy Wide.ttf'); }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: 5%;
  padding: 5%;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 3vw;
  font-weight: bold;
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-image: url("receipts.jpg");
  margin: 10%;
  padding: 0;
  cursor:url('sharpie2.png') 10 3, auto;
  overflow-x: hidden;
}

h1.one {
  text-align: center;
  color: black;
  font-family: "Merchant Copy Doublesize";
  line-height: 45%;
}

h1.two {
  text-align: center;
  color: black;
  font-family: "Merchant Copy Doublesize";
  line-height: 45%;
  margin-bottom: 5%;
}

p.desc {
  text-align: center;
  color: black;
  font-family: "Merchant Copy Wide";
  margin-top: 5%;
}

p.left {
  float: left;
  text-align: left;
  color: black;
  font-family: "Merchant Copy";
  width: 80%;
}

p.lefts {
  float: left;
  text-align: left;
  color: black;
  font-family: "Merchant Copy";
  width: 80%;
}

p.lefts:hover::after {
  width: 100%;
}

p.lefts::after {
  content: '';
  display: block;
  width: 0;
  height: 5%;
  background: red;
  position: absolute;
  bottom: 50%;
  z-index: -1;

  transition: width 2s;

}

p.right {
  float: right;
  text-align: right;
  color: black;
  font-family: "Merchant Copy";
}

p {
  text-align: left;
  color: black;
  font-family: "Merchant Copy";
}

p.title {
  margin-top: 10%;
  margin-bottom: 5%;
}

p.desleft {
  text-align: left;
  max-width: 100%;
  margin-right: 0%;
  padding-right: 0%;
  line-height: 80%;
}

p.deslefta {
  text-align: left;
  max-width: 100%;
  margin-right: 0%;
  padding-right: 0%;
  line-height: 80%;
  cursor:url('sharpie1.png') 10 3, auto;
}

p.deslefta:hover {
  text-align: left;
  max-width: 100%;
  margin-right: 0%;
  padding-right: 0%;
  line-height: 80%;
  color: red;
  transition-duration: 0.4s;
}

p.desright {
  text-align: right;
  max-width: 100%;
  margin-left: 0%;
  padding-left: 0%;
  line-height: 80%;
}

p.desrighta {
  text-align: right;
  max-width: 100%;
  margin-left: 0%;
  padding-left: 0%;
  line-height: 80%;
  cursor:url('sharpie1.png') 10 3, auto;
}

p.desrighta:hover {
  text-align: right;
  max-width: 100%;
  margin-left: 0%;
  padding-left: 0%;
  line-height: 80%;
  color: red;
  transition-duration: 0.4s;
}


div.title {
  border: none;
  padding: 0;
  line-height: 0;
}

div.block {
  padding: 0%;
  margin: 0%;
  line-height: 0%;
}

.barcode {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.line {
  margin-top: 5%;
}

.note {
  margin: 0 auto;
  position: absolute;
  top: 3vw;
  left: 11vw;
  transform: rotate(15deg);
  max-width: 100%;
  max-height: 100%;
}

.note1 {
  margin: 0 auto;
  position: absolute;
  top: 10vw;
  left: 17vw;
  transform: rotate(15deg);
  max-width: 100%;
  max-height: 100%;
  cursor:url('sharpie1.png') 10 3, auto;
}

.note2 {
  margin: 0 auto;
  position: absolute;
  top: 13vw;
  left: 16vw;
  transform: rotate(15deg);
  max-width: 100%;
  max-height: 100%;
  cursor:url('sharpie1.png') 10 3, auto;
}

.note3 {
  margin: 0 auto;
  position: absolute;
  top: 16.5vw;
  left: 13vw;
  transform: rotate(15deg);
  max-width: 100%;
  max-height: 100%;
  cursor:url('sharpie1.png') 10 3, auto;
}

a {
  color: black;
  text-decoration: none;
}

img.rip {
  filter: none;
  margin: 0%;
  transition-duration: 0.4s;
}

img.rip:hover {
  filter: hue-rotate(180deg);
  transition-duration: 0.4s;
  cursor:url('volume.png') 10 3, auto;
}

img.doodlemain1 {
  position: absolute;
  top: 8vw;
  right: 21vw;
  transform: rotate(20deg);
}

img.doodlemain2 {
  position: absolute;
  top: 27vw;
  left: 11vw;
  transform: rotate(40deg);
}

img.doodlemain3 {
  position: absolute;
  top: -4vw;
  right: -4vw;
}

img.doodlemain4 {
  position: absolute;
  top: 18vw;
  right: 11vw;
}

img.doodle2 {
  position: absolute;
  top: -3vw;
  right: 5vw;
  transform: rotate(-10deg);
}

img.doodle4 {
  position: absolute;
  top: 35vw;
  left: 0vw;
  transform: rotate(-20deg);
}

img.doodle6 {
  position: absolute;
  top: -1vw;
  right: -3vw;
  transform: rotate(17deg);
}

img.doodle7 {
  position: absolute;
  top: 35vw;
  left: 0vw;
  transform: rotate(-20deg);
}

img.doodle9 {
  position: absolute;
  top: -2vw;
  right: 15vw;
  transform: rotate(-10deg);
}

img.doodle8 {
  position: absolute;
  top: 34vw;
  left: -1vw;
  transform: rotate(-30deg);
}

img.coffee {
  position: absolute;
  top: -20vw;
  right: -24vw;
  transform: rotate(-20deg);
  cursor:url('speech.png') 10 3, auto;
}

img.spill {
  position: absolute;
  top: -10vw;
  right: -30vw;
  transform: rotate(-20deg);
  visibility: hidden;
}

img.coins {
  position: absolute;
  top: 156vw;
  left: -10vw;
  transform: rotate(80deg);
  cursor:url('volume.png') 10 3, auto;
}

div.margin {
  margin-top: 15%;
}

a {
  cursor:url('/Users/Katie/Desktop/sharpie1.png') 10 3, auto;
}

.hw {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
